Write a code to get the input in the given format and print the output in the given format

Input Description:
To take an integer value

Output Description:
Print the integer value ****

In [ ]:
A=int(input())
print(A)

2
2

 Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains integers separated by space

Output Description:
Print the integer list of integers separated by space

In [ ]:
A,B,C,D,E,F,G=input().split()
print(A,B,C,D,E,F,G)

2 3 4 5 6 7 8
2 3 4 5 6 7 8

Write a code to get the input in the given format and print the output in the given format.

Input Description:
First-line indicates two integers which are the size of array and 'K' value. Second-line indicates an integer contains elements of an array.

Output Description:
Print the taken input in the same format.

In [ ]:
a=input().split(" ")
b=input().split(" ")
c=list(map(int,a))
d=list(map(int,b))
print(*c)
print(*d)

5 3 1 2 3 4 5
5 3
5 3 1 2 3 4 5
5 3

Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates two integers separated by space. Third-line indicates two integers separated by space.

Output Description:
Print the input in the same format.

In [ ]:
val=input().split()
val2=input().split()
val3=input().split()
print(*val,sep=' ')
print(*val2,sep=' ')
print(*val3,sep=' ')

2 4
2 4
2 4
2 4
2 4
2 4

Write a code to get the input in the given format and print the output in the given format

Input Description:
Three integers are given in line by line.

Output Description:
Print the integers in a single line separate by space.

In [ ]:
A=int(input())
B=int(input())
C=int(input())
print(A,B,C)

2
4
5
2 4 5

Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

Output Description:
Print the input in the same format.

In [ ]:
val=input().split()
val2=input().split()
val3=input().split()
print(*val,sep=' ')
print(*val2,sep=' ')
print(*val3,sep=' ')

2 5
2 5 6
2 4 6
2 5
2 5 6
2 4 6

Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by space.

In [ ]:
a=input()
for i in a[0:-1]:
    print(i,end=" ")
print(a[len(a)-1])

guvi
g u v i

Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains three float values separated by space.

Output Description:
Print the float value separated by line.

In [ ]:
val=input().split()
print(*val,sep='\n')

2.3 4.5 7.8
2.3
4.5
7.8

Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by line.

In [ ]:
str=input()
chars=list(str)
print(*chars,sep='\n')

guvigeek
g
u
v
i
g
e
e
k

Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by comma.

In [ ]:
str=input()
chars=list(str)
print(*chars,sep=',')

guvi
g,u,v,i